@charset "UTF-8";
/* 반응형처리 */
.m {
  display: none;
}
main {
  margin-top: 0;
  padding-top: 95px;
}
/* title */
.title-area {
  padding: 0 24px;
  text-align: center;
  word-break: keep-all;
}
.title-area h3 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}

.title-area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}
/* swiper */

/* sc-visual */
.sc-visual {
  position: relative;
  overflow: hidden;
}
.sc-visual .swiper {
  height: calc(100vh - 95px);
}
.sc-visual .swiper a {
  position: relative;
  width: 100%;
  height: 100%;
}
.sc-visual .thumb-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sc-visual .swiper-slide {
  overflow: hidden;
}
.sc-visual .thumb-wrap[data-direct="top"] {
}
.sc-visual .thumb-wrap[data-direct="top"] img {
  height: calc(100% + 150px);
}
.sc-visual .thumb-wrap[data-direct="bottom"] {
  align-items: flex-end;
}
.sc-visual .thumb-wrap[data-direct="bottom"] img {
  height: calc(100% + 150px);
}
.sc-visual .thumb-wrap[data-direct="left"] {
  justify-content: flex-start;
}
.sc-visual .thumb-wrap[data-direct="left"] img {
  width: calc(100% + 150px);
}
.sc-visual .thumb-wrap[data-direct="right"] {
  justify-content: flex-end;
}
.sc-visual .thumb-wrap[data-direct="right"] img {
  width: calc(100% + 150px);
}
.sc-visual .swiper-slide-active .thumb-wrap[data-direct="top"] img {
  transform: translateY(-150px);
}
.sc-visual .swiper-slide-active .thumb-wrap[data-direct="bottom"] img {
  transform: translateY(150px);
}
.sc-visual .swiper-slide-active .thumb-wrap[data-direct="left"] img {
  transform: translateX(-150px);
}
.sc-visual .swiper-slide-active .thumb-wrap[data-direct="right"] img {
  transform: translateX(150px);
}
.sc-visual .thumb-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;
  transition: transform 5s;
}
.sc-visual .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.sc-visual .text-area .title-wrap {
  padding: 60px 0;
}
.sc-visual .text-area [class*="sm-title"] {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.sc-visual .text-area .sm-title-b {
  font-size: 20px;
}
.sc-visual .text-area .title {
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: -2.4px;
  font-weight: 800;
  white-space: nowrap;
}
.sc-visual .text-area .title:first-child span {
  min-width: 20px;
  opacity: 1;
}
.sc-visual .text-area .title + .title {
  padding-top: 20px;
}
.sc-visual .text-area .title:last-child span {
  min-width: 20px;
  opacity: 0;
}
.sc-visual .swiper-slide-active .text-area .title span {
  min-width: 20px;
}
.sc-visual .swiper-slide-active .text-area .title:last-child span {
  /* min-width: 20px; */
  opacity: 0;
  animation: text 0.3s forwards 0.1s;
}
.sc-visual .text-area .title:last-child span:nth-child(1) {
  animation-delay: 0.15s;
}
.sc-visual .text-area .title:last-child span:nth-child(2) {
  animation-delay: 0.25s;
}
.sc-visual .text-area .title:last-child span:nth-child(3) {
  animation-delay: 0.35s;
}
.sc-visual .text-area .title:last-child span:nth-child(4) {
  animation-delay: 0.45s;
}
.sc-visual .text-area .title:last-child span:nth-child(5) {
  animation-delay: 0.55s;
}
.sc-visual .text-area .title:last-child span:nth-child(6) {
  animation-delay: 0.65s;
}
.sc-visual .text-area .title:last-child span:nth-child(7) {
  animation-delay: 0.75s;
}
.sc-visual .text-area .title:last-child span:nth-child(8) {
  animation-delay: 0.85s;
}
.sc-visual .text-area .title:last-child span:nth-child(9) {
  animation-delay: 0.95s;
}
.sc-visual .text-area .title:last-child span:nth-child(10) {
  animation-delay: 1.05s;
}
.sc-visual .text-area .title:last-child span:nth-child(11) {
  animation-delay: 1.15s;
}
.sc-visual .text-area .title:last-child span:nth-child(12) {
  animation-delay: 1.25s;
}
.sc-visual .text-area .title:last-child span:nth-child(13) {
  animation-delay: 1.35s;
}
.sc-visual .text-area .title:last-child span:nth-child(14) {
  animation-delay: 1.45s;
}
.sc-visual .text-area .title:last-child span:nth-child(15) {
  animation-delay: 1.55s;
}

.sc-visual .swiper .swiper-pagination {
  width: auto;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
}
.sc-visual .swiper .swiper-pagination-bullet {
  opacity: 1;
  margin: 0 4px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.5);
}
.sc-visual .swiper .swiper-pagination-bullet-active {
  width: 20px;
  background-color: #fff;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* sc-team */
.sc-card {
  padding-top: 160px;
}
.sc-card .title-area {
  margin-bottom: 60px;
}
.sc-card .swiper {
  padding: 0 10px;
}
.sc-card .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.sc-card .swiper-slide:nth-of-type(odd) {
  /* margin-top: 40px; */
}
.sc-card .swiper-slide {
  position: relative;
  width: 180px;
  height: 245px;
  border-radius: 10px;
  overflow: hidden;
  transform: translateZ(1px);
}
.sc-card .swiper-slide::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sc-card .swiper-slide:hover img {
  transform: scale(1.1);
}
.sc-card .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.sc-card .thumb-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.sc-card .swiper-slide .thumb-wrap:after {
  content: "";
  display: block;
  background: linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.5));
  pointer-events: none;
}
.sc-card .thumb-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.sc-card .text-wrap {
  display: flex;
  align-items: flex-end;
  position: absolute;
  padding: 12px 16px;
  width: 100%;
  height: 100%;
  bottom: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* sc-service */
.sc-service {
  padding-top: 160px;
  margin-bottom: 160px;
}
.sc-service .title-area,
.sc-service .video-area {
  margin-bottom: 80px;
}
.sc-service .video-area {
  margin-bottom: 80px;
}
.sc-service .contents {
  position: relative;
  width: 780px;
  margin: 0 auto;
  text-align: center;
}
.sc-service .contents .player-control {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  opacity: 0;
}
.sc-service .contents:hover .player-control {
  opacity: 1;
}

/* sc-season */
.sc-season {
  position: relative;
  overflow: hidden;
  height: 680px;
}
.sc-season a {
  display: block;
}
.season-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(../images/season_1_bg.jpg);
  background-repeat: no-repeat;
}
.desc-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}
.desc-wrap p {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}
.desc-wrap p strong {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}
.season-character {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
}
.season-character img {
  display: inline-block;
  width: 222px;
}
.sc-news {
  padding: 120px 0;
}
.sc-news ul {
  max-width: 820px;
  margin: 0 auto;
}
.sc-news li {
  border-bottom: 1px solid #f3f4f5;
}
.sc-news li a {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.sc-news li a:hover {
  background-color: rgba(243, 244, 245, 0.5);
}
.sc-news .thumb-box {
  position: relative;
  width: 200px;
  height: 160px;
  margin-right: 40px;
  overflow: hidden;
}
.sc-news .thumb-box:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sc-news li:hover .thumb-box img {
  transform: scale(1.1);
}
.sc-news .thumb-box img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.sc-news .text-box {
  text-align: left;
  flex: 1;
}
.sc-news .text-box p {
  display: -webkit-box;
  color: #232324;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.sc-news .text-box .title {
  max-height: 64px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 700;
}
.sc-news .text-box .desc {
  font-size: 16px;
  max-height: 52px;
  margin-bottom: 10px;
  line-height: 1.625;
}
.sc-news .text-box .date {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  position: relative;
  color: #a6a7a9;
}
.sc-news .btn-more {
  display: flex;
  margin: 40px auto 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 0 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  border-radius: 8px;
  background-color: #f3f4f5;
}
/* sc-font */
.sc-font {
  padding: 120px 0 136px;
  background-color: #232324;
}
.sc-font .title-area {
  margin-bottom: 60px;
  color: #fff;
}
.sc-font .font-area {
  display: flex;
  overflow: hidden;
  max-width: none;
}
.sc-font .font-area:hover .marquee {
  animation-play-state: paused;
}
.sc-font .font-area ul {
  display: flex;
}
.sc-font .font-area li {
  padding: 0 8px;
}
.sc-font .font-area li > div {
  position: relative;
  display: block;
  width: 160px;
  height: 128px;
  padding: 16px;
  border-radius: 8px;
  background: #37373a;
}
.sc-font .name {
  text-align: left;
  color: #6c6d6f;
  font-size: 16px;
  font-weight: 700;
}
.sc-font .character {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.sc-font .btn-more {
  display: flex;
  margin: 60px auto 0;
}
.btn-black {
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.sc-font .font-area .marquee {
  display: flex;
  animation: marquee 3s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
