:root {
  --header-height: 95px;
  @include tablet {
    --header-height: 63px;
  }
}

.header .logo .link-logo,
.header .gnb .arrow:after,
.sc-search .search-area .ico-search,
.team-area li .count:before,
.button-wrap [class*="btn"],
.ico-link-out,
.footer .btn-relate:before {
  background-image: url(../images/sp_pc.png);
  background-size: 328px 205px;
  background-repeat: no-repeat;
}
.m {
  display: none;
  @include tablet {
    display: block;
  }
}
.pc {
  display: block;
  @include tablet {
    display: none;
  }
}
input::placeholder {
  color: #d0d0d0;
  opacity: 1;
  font-weight: bold;
  font-family: "NanumSquare", "나눔스퀘어", "돋움", dotum, arial, sans-serif;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 0 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  border-radius: 8px;
  background-color: #f3f4f5;
}
.btn-black {
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
