@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

:root {
  --header-height: 95px;
  --swiper-theme-color: #fff;
}

html {
  font-size: 16px;
  line-height: 1.4;
  word-break: keep-all;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  color: #232324;
  font-family: Noto Sans, Noto Sans KR, sans-serif;
  letter-spacing: -0.02em;
}

body {
  min-width: 280px;
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

html,
body {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: Noto Sans, Noto Sans KR, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

b,
strong {
  font-weight: bolder;
}

ol,
ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[role="button"],
button {
  cursor: pointer;
}

button {
  background-color: transparent;
  background-image: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  border: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

svg {
  display: inline-block;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}
